<%= provide(:title, "Blog") %>
<div class="blog-container">
	<% if signed_in? %>
		<%= link_to 'New Post', new_post_path, class: "new-post-button" %>
	<% end %>
	<% @posts.each do |post| %>
	  <h2 class="title">
		  <%= link_to post.title, post, class:  "index-title-link" %>
	  </h3>
	  <h3 class="byline"><%= post.byline %></h3>
	  <p class="published">Posted: <%= time_ago_in_words post.created_at %> ago</p>
	  <% if signed_in? %>
		  <ul class="user-links">
		  	<li><%= link_to 'Show', post, class: "user-link" %></li>
		  	<li><%= link_to 'Edit', edit_post_path(post), class: "user-link" %></li>
		  	<li><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "user-link" %></li>
		  </ul>
	  <% end %>
	<% end %>
</div>