<%= provide(:title, "Blog") %>
<h2>
  <%= @post.title %>
</h2>
<h3>
  <%= @post.byline %>
</h3>
<p>
	Posted: <%= time_ago_in_words @post.created_at %> ago
</p>
<p>
  <%= @post.body %>
</p>

<p>
	<%= link_to 'Edit', edit_post_path(@post) %> |
	<%= link_to 'Back', posts_path %> |
	<%= link_to 'Delete Blog Post', @post, method: :delete, data: { confirm: "Are you sure?" } %>
</p>

<h3>Got a question or a comment?</h3>
<% @post.comments.each do |comment| %>
	<p>Posted by <%= comment.username %> <%= time_ago_in_words comment.created_at %> ago</p>
	<p><%= comment.text %></p>
  <p><%= link_to 'Delete Comment', [@post, comment], method: :delete, data: { confirm: "Are you sure?" } %></p>
<% end %>

<%= form_for [@post, @post.comments.build] do |f| %>
	<ul>
		<li>
			<%= f.label :username, "Name" %>
			<%= f.text_field :username %>
		</li>
		<li>
		  <%= f.text_area :text, size: "30x10" %>
	  </li>
	  <li>
		  <%= f.submit "Post Comment" %>
	  </li>
	</ul>
<% end %>