<div class="alternate-header">
  <nav class="nav-top">
		<ul class="nav-list">
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Blog", blog_path %></li>
			<li><%= link_to "Come See Me", events_path %></li>
			<li><%= link_to "Terrarium Care", pages_care_path %></li>
			<li><%= link_to "Contact", pages_contact_path %></li>
			<% if signed_in? %>
				<%= link_to "Sign out", signout_path, method: "delete" %>
			<% end %>
		</ul>
	</nav>
	<h1 class="alt-heading">Field Day Terrariums</h1>
</div>