<div class="header">
  <nav class="nav-top">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Blog", blog_path %></li>
			<li><%= link_to "Come See Me", events_path %></li>
			<li><%= link_to "Terrarium Care", pages_care_path %></li>
			<li><%= link_to "Contact", pages_contact_path %></li>
		</ul>
	</nav>

	<div class="nav-bottom">
		<h1>Field Day Terrariums</h1>
			<p>Miniature Worlds by Rachel Borgh</p>
			<a href="#" class="button">Hello</a>
	</div>
</div>